# PORT
PORT=5000
SERVER_URL=
FRONTEND_URL=http://localhost:3000/

NODE_ENV=development

# DATABASE
DB_URI="#####"

# JWT AUTH
JWT_SECRET="#####"
JWT_EXPIRES_IN="1h"
JWT_REFRESH_SECRET="#####"
JWT_REFRESH_EXPIRES_IN="7d"

# PAYSTACK
PAYSTACK_SECRET_KEY=#####
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=#####

# SYSTEM_DEFAULT_RESELLER_CODE
SYSTEM_RESELLER_CODE="#####"

# ARCJET
ARCJET_KEY="#####"
ARCJET_ENV="development"

# EMAIL
EMAIL_PASSWORD="#####"

# SENDGRID
SENDGRID_API_KEY=#####
EMAIL_FROM=#####

# REDIS
REDIS_HOST=#####
REDIS_PORT=6379
REDIS_PASSWORD=#####

# QSTASH
QSTASH_URL=""
QSTASH_TOKEN=""
QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=

# BOSSU
BOSSU_CALLBACK_URL="#####"
BOSSU_API_KEY="#####"
BOSSU_API_BASEURL="#####"
BOSSU_API_ENDPOINT="#####"
BOSSU_API_TIMEOUT=10000